
.silk-accept { background-image: url(../images/accept.png) !important; background-repeat: no-repeat; }
.silk-add { background-image: url(../images/add.gif) !important; background-repeat: no-repeat; }
.silk-cancel { background-image: url(../images/cancel.png) !important; background-repeat: no-repeat; }
.silk-delete { background-image: url(../images/delete.gif) !important; background-repeat: no-repeat; }
.silk-save { background-image: url(../images/save.gif) !important; background-repeat: no-repeat; }
